:plain
  <h1 style='font: bold 2.85em Helvetica,Arial,sans-serif;
  letter-spacing: -1px;
  margin: 10px 0 8px;
  text-align: center;'>Get your territory in the mix</h1>
  <h2 style='color: #1C94C4;
  font: bold 1.8em Helvetica,Arial,sans-serif;
  margin: 0 0 24px;
  text-align: center;'>How does it work?</h2>
  
  <div class="inner-gallery">
    <div class="gallery-holder">
      <div class="gallery-block">
        <ul class="gallery">
        
          <li>
            <strong>1. Get Started<br>Easily</strong>
            <span class="arrow"><img alt="Arrow pointing to next step" src="/images/arrow-10.png"></span>
            <div class="image">
              <a class="youtube" title="1. Get Started Easily" href="javascript:alert('youtube');">
                <img height="110" width="110" alt="" src="/images/step_holder.png">
              </a>
            </div>
            <a class="btn-youtube" title="1. Get Started Easily" href="javascript:alert('youtube');">&nbsp;</a>
            <p>Once signed-up manage campaigns/orders and get business</p>
          </li>
          
          <li>
            <strong>2. Define Your <br>Market</strong>
            <span class="arrow"><img alt="Arrow pointing to next step" src="/images/arrow-10.png"></span>
            <div class="image">
              <a class="youtube" title="1. Get Started Easily" href="javascript:alert('youtube');">
                <img height="110" width="110" alt="" src="/images/step_holder.png">
              </a>
            </div>
            <a class="btn-youtube" title="1. Get Started Easily" href="javascript:alert('youtube');">&nbsp;</a>
            <p>Use your location and recieve calls around it.</p>
          </li>
          
          <li>
            <strong>3. Purchase <br><br></strong>
            <span class="arrow"><img alt="Arrow pointing to next step" src="/images/arrow-10.png"></span>
            <div class="image">
              <a class="youtube" title="1. Get Started Easily" href="javascript:alert('youtube');">
                <img height="110" width="110" alt="" src="/images/step_holder.png">
              </a>
            </div>
            <a class="btn-youtube" title="1. Get Started Easily" href="javascript:alert('youtube');">&nbsp;</a>
            <p>Payment is simple</p>
          </li>
          
          <li>
            <strong>4. Make Money<br />&nbsp;</strong>
            <span class="arrow"><img alt="Arrow pointing to next step" src="/images/arrow-10.png"></span>
            <div class="image">
              <a class="youtube" title="1. Get Started Easily" href="javascript:alert('youtube');">
                <img height="110" width="110" alt="" src="/images/step_holder.png">
              </a>
            </div>
            <a class="btn-youtube" title="1. Get Started Easily" href="javascript:alert('youtube');">&nbsp;</a>
            <p>You'll recieve routed calls almost instantly</p>
          </li>
          
          <li>
            <strong>5. Something<br><br></strong>
            <div class="image">
              <a class="youtube" title="1. Get Started Easily" href="javascript:alert('youtube');">
                <img height="110" width="110" alt="" src="/images/step_holder.png">
              </a>
            </div>
            <a class="btn-youtube" title="1. Get Started Easily" href="javascript:alert('youtube');">&nbsp;</a>
            <p>Need more.</p>
            
          </li>
        </ul>
          
      </div>
    </div>
    
    
  </div>
  
  <div>
    <a style='background: url("/images/ready-order.png") no-repeat scroll 0 0 transparent;
    border-bottom-style: none;
    clear: both;
    display: block;
    float: right;
    height: 66px;
    margin-left: 7px;
    overflow: hidden;
    text-indent: -9999px;
    width: 305px;' class="btn-howitworks" href="/orders/new">Ready? Start an Order</a>
  </div>
  